.mainpage {
  padding: 1em;
  background: #0f0f0f8c;
  border-top: 0.75vh solid #73ffe8;
  border-bottom: 0.375vh solid #73ffe8;
  border-radius: 50px 50px 30px 30px;
  overflow: auto;
  padding-bottom: auto;
}

.ctitle {
  margin: 1vh;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  color: #3fe3f8;
  width: auto;
  height: 2em;
}

.ctools, .ctoolsub {
  background: #696968;
  border-radius: 10px 10px 10px 10px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1em;
  color: #3fe3f8;
  width: auto;
  text-align: center;
  justify-content: center;
  height: 4.35vh;
  margin: 1.5px;
  max-height: 200px; /* Adicione esta linha */
  overflow-y: auto; /* Adicione esta linha */
}

.ctoolsBTN {
  background: #6969686c;
  border-radius: 10px 10px 10px 10px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 0.875em;
  color: #3fe3f8;
  margin: 3px;
}

.m3write {
  background: none;
  border-radius: 10px 10px 10px 10px;
  border: 1.5px solid #38d1e6;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.025em;
  color: #0f586e;
  width: 80%;
  margin: 2.5px;
}

.b2text {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.5625em;
  color: #3fe3f8;
  background: none;
  border: none;
  width: 100px;
  height: auto;
}

.pass2dm {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.25em;
  color: #93f0fc;
  background: none;
  border: none;
  word-wrap: break-word;
  word-break: break-all;

}

@media (max-width: 600px) {
  .mainpage{
    padding-bottom: 90px;
  }
  .ctools, .ctoolsub {
    font-size: 0.8em;
  }
}
  .pass2dm {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: 1em;
  }
